h1 {
  color: #ff66ff;
    
    ;
  background-color:#666666;
}

h3 {
  color: #ADEDB9;
}

h4  {
  color:#ff66ff;
    
}
#charlotte{
  color:#68c8e8;
}
body{
width: 800px;
  margin: 0 auto

}



 img {
	width:200px;
}

#choco {
  width:400px;
}

#apple-saucecake {
	width:400px;
}	

.pastry{
	float: right;
}





